<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>Port</servlet-name>
    <servlet-class>qantas.eq.integration.ftp.QFEQIFFtpFile</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CryptoServicePort</servlet-name>
    <servlet-class>qantas.eq.integration.util.QFEQIFCryptoSOA</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>QFEQIFCreateFileCMSDKPort</servlet-name>
    <servlet-class>qantas.eq.integration.util.QFEQIFCreateFileCMSDK</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>QFEQIFUpdateLobsterPort</servlet-name>
    <servlet-class>qantas.eq.integration.ifs.QFEQIFUpdateLobster</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>QFEQIFCreateClrPort</servlet-name>
    <servlet-class>qantas.eq.integration.util.QFEQIFCreateClr</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Port</servlet-name>
    <url-pattern>/Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CryptoServicePort</servlet-name>
    <url-pattern>/CryptoServicePort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QFEQIFCreateFileCMSDKPort</servlet-name>
    <url-pattern>/QFEQIFCreateFileCMSDKPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QFEQIFUpdateLobsterPort</servlet-name>
    <url-pattern>/QFEQIFUpdateLobsterPort</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QFEQIFCreateClrPort</servlet-name>
    <url-pattern>/QFEQIFCreateClrPort</url-pattern>
  </servlet-mapping>
</web-app>
